.balance{
    font-family: 'Lobster', cursive;
    font-size: 1.7rem !important;
}

.gld{
    font-family: 'Arimo', sans-serif;
}
.stakefont{
    font-family: 'Roboto Flex', sans-serif;
}
.staketitle{
    font-family: 'Plus Jakarta Sans', sans-serif;
}