body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.temp{
  font-family: 'Gruppo', cursive;
  color: black;
  font-size: 100px;
}

.bg-1{
  background-color: rgb(255, 196, 47);
  /* border-radius: 0px 0px 100px 0px; */

}

.bg-2{
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.cimage{
  height:450px !important;
   width: 100% !important;
   object-fit: cover;
 }

 
 #ride-box{
  background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 }

 #ride-box-outer{
  background: #F7F8F8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACBB78, #F7F8F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 }
 
 #book-ride-form, #book-ride-form:active, #book-ride-form:focus, textarea {

  background-color : #3a3939; 
  color: white;

}

#book-ride-form::placeholder { color: rgb(222, 219, 219); }