body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.temp{
  font-family: 'Gruppo', cursive;
  color: black;
  font-size: 100px;
}

.bg-1{
  background-color: rgb(255, 196, 47);
  /* border-radius: 0px 0px 100px 0px; */

}

.bg-2{
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.cimage{
  height:450px !important;
   width: 100% !important;
   object-fit: cover;
 }
